$background-color:black;

$header-bacground-color:$background-color;
$header-font-color:#ffe81f;
$header-menu-color:#111;
$header-links-color:#fff;

$card-color:rgb(59, 59, 59);
$card-font-color:rgb(168, 168, 0);
$card-font-color2:rgb(113, 113, 0);

$font-size-h1:2em;
$font-size-sw:2em;
